* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgba(216, 204, 204, 0.562);
}

header h1 {
  min-width: 375px;
  max-width: 1440px;
  text-align: center;
  padding-top: 3rem;
}

.in-flex {
  flex: 1;
  min-width: 375px;
  max-width: 1440px;
}

.main-section {
  display: flex;
  padding: 25px;
  //margin: 20px;
  //border: 1px dashed goldenrod;
}

//* Favorite cities (Select)
.select-favorite-cities {
  margin-right: auto;
}

//* Search bar cities (Input-text)
.search-bar-cities {
  margin-left: auto;
}

//? Current Weather (start)

#h3-current-weather {
  margin: 20px;
  margin-bottom: -20px;
}
.in-flex-current-weather {
  flex: 3;
  padding: 25px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #fff;
}

//* City Name (h1)
.in-flex-current-weather h1 {
  text-align: center;
}

//* Name City (label)
.label-cities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#h3-weather-info {
  text-align: center;
  padding-top: 5px;
  font-size: 14px;

}

.weather-info {
  background-color: rgb(214, 218, 228);
  margin: auto;
  width: 300px;
  height: 150px;
  margin-top: 10px;
}
//? Current Weather (End)

//? Daily Forecast (Start)
#daily-forecast-h3 {
  margin: 20px;
  margin-bottom: -20px;
}

.in-flex-daily-forescat {
  flex: 3;
  padding: 25px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  display: inline-block;
  background-color: rgb(214, 218, 228);
  padding: 10px;
  height: 200px;
  width: 130px;
  margin: 10px;
  text-align: center;
}

//? Daily Forecast (End)

//? Hourly Forecast (Start)
#hourly-forecast-h3 {
  margin: 20px;
  margin-bottom: -20px;
}

.in-flex-hourly-forecast {
  flex: 3;
  padding: 25px;
  margin: 20px;
  margin-bottom: 0px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours {
  display: inline-block;
  background-color: rgb(214, 218, 228);
  padding: 20px;
  height: 140px;
  width: 70px;
  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
}
// ? Hourly Forecast (End)
